env/
.idea/

docker/binaries/
docker/builder/orthanc-mssql/
docker/orthanc-pro/config/mssql-test-config.json

orthanc.hg/
orthanc.hg-build/
orthanc-dicomweb.hg-build/
orthanc-dicomweb.hg/
orthanc-postgresql.hg-build/
orthanc-postgresql.hg/
orthanc-wsi-apps.hg-build/
orthanc-wsi-apps.hg/
orthanc-wsi-plugin.hg/
orthanc-wsi-plugin.hg-build/
orthanc-wsi.hg-build/
orthanc-wsi.hg/

orthancAndPluginsWin32.nightly.zip
orthancAndPluginsWin32.nightly/
orthancAndPluginsWin32.stable.zip
orthancAndPluginsWin32.stable/
orthancAndPluginsWin64.nightly.zip
orthancAndPluginsWin64.nightly/
orthancAndPluginsWin64.stable.zip
orthancAndPluginsWin64.stable/