http://orthanc.osimis.io/pythonToolbox/OsimisToolbox-4.8.0.tar.gz
awscli==1.11.3
boto3==1.9.116
botocore==1.12.116
certifi==2019.3.9
chardet==3.0.4
colorama==0.3.7
docutils==0.14
hl7==0.3.4
idna==2.8
jmespath==0.9.4
pyasn1==0.4.5
python-dateutil==2.8.0
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.1