name: all-builds

on:
  push:
    branches: 
      - '*'
    tags:
      - '*'

  pull_request:
    branches: [ master ]


jobs:
  pre-build:
    name: pre-build
    runs-on: "ubuntu-latest"
    outputs:
      current_branch_tag: ${{steps.branch-name.outputs.current_branch}}
      is_tag: ${{steps.branch-name.outputs.is_tag}}
      ref_branch: ${{steps.branch-name.outputs.ref_branch}}
      default_branch: ${{steps.branch-name.outputs.default_branch}}
      is_default: ${{steps.branch-name.outputs.is_default}}
    steps:
      - name: Get branch/tag name
        id: branch-name
        uses: tj-actions/branch-names@v5.1
        # output: steps.branch-name.outputs.current_branch contains the branch or the tag


  build-osx-package:
    name: build-osx-package
    runs-on: "ubuntu-latest"
    needs: [pre-build]

    steps:
    
    - uses: actions/checkout@v2

    - name: Echo var
      run: |
        echo ${{ needs.pre-build.outputs.is_tag }} ${{ needs.pre-build.outputs.current_branch_tag }} ${{ needs.pre-build.outputs.ref_branch }} ${{ needs.pre-build.outputs.default_branch }} ${{ needs.pre-build.outputs.is_default }}
        echo ${{ github.ref}}
        pwd

    - name: Build osx package
      run: ./build-osx-package.sh is_tag=${{ needs.pre-build.outputs.is_tag }} version=stable branchTagName=${{ needs.pre-build.outputs.current_branch_tag }}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}



  build-windows-installer:
    name: build-windows-installer
    runs-on: "ubuntu-latest"
    needs: [pre-build]

    steps:
    
    - uses: actions/checkout@v2

    - name: Echo var
      run: |
        echo ${{ needs.pre-build.outputs.is_tag }} ${{ needs.pre-build.outputs.current_branch_tag }} ${{ needs.pre-build.outputs.ref_branch }} ${{ needs.pre-build.outputs.default_branch }} ${{ needs.pre-build.outputs.is_default }}
        echo ${{ github.ref}}

    - name: Build installer
      run: ./ciBuildWindowsInstaller.sh ${{ needs.pre-build.outputs.is_tag }} ${{ needs.pre-build.outputs.current_branch_tag }}
      working-directory: ./WindowsInstaller
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      

  build-docker:
    name: build-docker
    runs-on: "ubuntu-latest"
    needs: [pre-build]
    strategy:
      fail-fast: false
      matrix:
        config:
        - {
            name: "linux/amd64",
            platform: "linux/amd64",
            cache: "cache-amd64-stable",
            stableUnstable: "stable"
          }
        - {
            name: "linux/amd64",
            platform: "linux/amd64",
            cache: "cache-amd64-unstable",
            stableUnstable: "unstable"
          }
        
        # ARM 64 builds are deactivated because, with QEMU emulation, we reach the 6h timeouts for a build step
        # in github actions (e.g to run .vcpkg install azure-sdk-cpp and similar) -> to reactivate once we have access
        # to an ARM64 slave
        # - {
        #     name: "linux/arm64",
        #     platform: "linux/arm64",
        #     cache: "cache-arm64" 
        #   }
        # - {
        #     name: "linux/all",
        #     platform: "linux/arm64,linux/amd64",
        #     cache: "cache-all" 
        #   }

    steps:
    
    - uses: actions/checkout@v2

    - name: Set up QEMU
      if: ${{ matrix.config.platform == 'linux/arm64' }}
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
      with:
        config: .github/buildkitd.toml

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    # - name: Build the osimis/orthanc-runner-base Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile.runner-base
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc-runner-base:bullseye-20220125
    #     cache-from: osimis/orthanc-runner-base:${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-runner-base:${{ matrix.config.cache }}


    # - name: Build the osimis/orthanc-builder-base Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile.builder-base
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc-builder-base:bullseye-20220125
    #     cache-from: osimis/orthanc-builder-base:${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-builder-base:${{ matrix.config.cache }}


    # - name: Build the osimis/orthanc-builder-vcpkg-base Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile.builder-vcpkg
    #     target: orthanc-build-vcpkg
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc-builder-base:vcpkg-bullseye-20220125
    #     cache-from: osimis/orthanc-builder-base:vcpkg-${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-builder-base:vcpkg-${{ matrix.config.cache }}

    # - name: Build the osimis/orthanc-builder-vcpkg-google Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile.builder-vcpkg
    #     target: orthanc-build-vcpkg-google
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc-builder-base:vcpkg-google-bullseye-20220125
    #     cache-from: osimis/orthanc-builder-base:vcpkg-google-${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-builder-base:vcpkg-google-${{ matrix.config.cache }}

    # - name: Build the osimis/orthanc-builder-vcpkg-azure Docker image
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile.builder-vcpkg
    #     target: orthanc-build-vcpkg-azure
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc-builder-base:vcpkg-azure-bullseye-20220125
    #     cache-from: osimis/orthanc-builder-base:vcpkg-azure-${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-builder-base:vcpkg-azure-${{ matrix.config.cache }}

    # - name: Build the osimis/orthanc Docker image (no push)
    #   uses: docker/build-push-action@v2
    #   with:
    #     context: docker/orthanc/
    #     file: docker/orthanc/Dockerfile
    #     platforms: ${{ matrix.config.platform }}
    #     push: true
    #     tags: osimis/orthanc:current
    #     cache-from: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}
    #     cache-to: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}

    - name: Build with local-build.sh
      run: ./local-build.sh version=${{ matrix.config.stableUnstable }} platform=${{ matrix.config.platform }} type=ci step=build

    - name: Run integration tests
      run: ./run-integration-tests.sh current
      working-directory: ${{github.workspace}}/docker/integration-tests

    # - name: Login to DockerHub
    #   uses: docker/login-action@v1
    #   with:
    #     username: ${{ secrets.DOCKERHUB_USERNAME }}
    #     password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Push with branch/tag
      run: ./local-build.sh version=${{ matrix.config.stableUnstable }} platform=${{ matrix.config.platform }} type=ci step=push pushTag=${{ needs.pre-build.outputs.current_branch_tag }}
      # run: ./local-build.sh ${{ matrix.config.stableUnstable }} ${{ matrix.config.platform }} 0 1 ${{ needs.pre-build.outputs.current_branch_tag }} 1

      # uses: docker/build-push-action@v2
      # with:
      #   context: docker/orthanc/
      #   platforms: ${{ matrix.config.platform }}
      #   push: true
      #   tags: osimis/orthanc:${{ needs.pre-build.outputs.current_branch_tag }}  # push with branch name or tag
      #   cache-from: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}
      #   cache-to: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}

    - name: Push with latest tag
      if: needs.pre-build.outputs.is_tag == 'true'
      run: ./local-build.sh version=${{ matrix.config.stableUnstable }} platform=${{ matrix.config.platform }} type=ci step=push pushTag=latest

      # uses: docker/build-push-action@v2
      # with:
      #   context: docker/orthanc/
      #   platforms: ${{ matrix.config.platform }}
      #   push: true
      #   tags: osimis/orthanc:latest
      #   cache-from: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}
      #   cache-to: osimis/orthanc-builder-base:main-${{ matrix.config.cache }}

    - name: Update DockerHub repo description
      uses: peter-evans/dockerhub-description@v2
      if: needs.pre-build.outputs.is_tag == 'true'
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: osimis/orthanc

