name: all-builds

on:
  schedule:
    - cron: "0 23 * * *"
  push:
    branches: 
      - '*'
    tags:
      - '*'

  pull_request:
    branches: [ master ]


jobs:
  pre-build:
    uses: ./.github/workflows/pre-build.yml

  build-stone-wasm-stable:
    needs: [pre-build]
    uses: ./.github/workflows/build-stone-wasm.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: stable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  build-stone-wasm-unstable:
    needs: [pre-build]
    uses: ./.github/workflows/build-stone-wasm.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  build-volview-dist-stable:
    needs: [pre-build]
    uses: ./.github/workflows/build-volview-dist.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: stable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  build-volview-dist-unstable:
    needs: [pre-build]
    uses: ./.github/workflows/build-volview-dist.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  win-stable-build:
    needs: [pre-build, build-stone-wasm-stable]
    uses: ./.github/workflows/build-win-binaries.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: stable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  win-unstable-build:
    needs: [pre-build, build-stone-wasm-unstable]
    uses: ./.github/workflows/build-win-binaries.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  macos-stable-build:
    needs: [pre-build, build-stone-wasm-stable, build-volview-dist-stable]
    uses: ./.github/workflows/build-macos-binaries.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: stable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  macos-unstable-build:
    needs: [pre-build, build-stone-wasm-unstable, build-volview-dist-unstable]
    uses: ./.github/workflows/build-macos-binaries.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}


  macos-stable-package:
    needs: [pre-build, macos-stable-build]
    uses: ./.github/workflows/build-macos-package.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: stable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}

  macos-unstable-package:
    needs: [pre-build, macos-unstable-build]
    uses: ./.github/workflows/build-macos-package.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}


  build-windows-installer:
    needs: [pre-build, win-stable-build] #, TODO: build win binaries as well build-win-binaries-unstable]
    uses: ./.github/workflows/build-windows-installer.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      stable_unstable: unstable
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}


  build-docker:
    needs: [pre-build]
    uses: ./.github/workflows/build-docker.yml
    with:
      is_tag: ${{ needs.pre-build.outputs.is_tag }}
      current_branch_tag: ${{ needs.pre-build.outputs.current_branch_tag }}
    secrets:
      docker_hub_username: ${{ secrets.DOCKERHUB_USERNAME }}
      docker_hub_token: ${{ secrets.DOCKERHUB_TOKEN }}
      aws_access_key_id: ${{ secrets.OT_AWS_ACCESS_KEY_ID }}
      aws_secret_access_key: ${{ secrets.OT_AWS_SECRET_ACCESS_KEY }}


