on:
  workflow_call:
    inputs:
      is_tag:
        description: 'Is a Git Tag'
        type: string
        required: true
      current_branch_tag:
        description: 'Git branch or Tag'
        type: string
        required: true
      stable_unstalbe:
        description: 'stable/unstable'
        type: string
        required: true

jobs:

  build-osx-package:
    name: build-osx-package
    runs-on: "ubuntu-latest"

    steps:

    - uses: actions/checkout@v2

    - name: Build OSX Package
      run: ./build-osx-package.sh is_tag=${{ inputs.is_tag }} version=${{ inputs.stable_unstable }} branchTagName=${{ inputs.current_branch_tag }}
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
